/*
Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Spacing system (px)
2 / 4 / 8 / 12 / 14 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* 
0 - 600px:          Phone
600 - 900px:        Tablet potrait
900 - 1200px:       Tablet landscape
1200px - 1800px:    Is our normal styles apply
1800px + :          Big dekstop
*/
/* 
$breakpoint argument choice
- phone 
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
/*
NEW VERSION

Below 1344px Smaller PC
max-width: 84em

Below 1200px Landscape Tablets
max-width: 75em
html: font-size 56.25% //9px/16px = 0.5625 = 56.25%

Below 944px Tablets
max-width: 59em
html: font-size 50% // 8px/16px = 0.5 = 50%

Below 700px Smaller Tablet
max-width: 44em // 700px/16px = 43.75

Below 550px Mobile Phone
max-width: 34em // 550px/16px = 34.25
*/
/*@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: width 37.5em) { @content }; //600px. 600/16 = 37.5
    }

    @if $breakpoint == tab-port {
        @media (max-width: width 56.25em) { @content }; //900px. 900/16 = 56.25
    }

    @if $breakpoint == tab-land {
        @media (max-width: width 75em) { @content }; //1200px. 1200/16 = 75
    }

    @if $breakpoint == big-desktop {
        @media (min-width: width 112.5em) { @content }; //1800px. 1800/16 = 112.5
    }
}*/
.margin-top-huge {
  margin-top: 9.6rem; }
  @media only screen and (max-width: 56.25em) {
    .margin-top-huge {
      margin-top: 4.8rem; } }
  @media only screen and (max-width: 43.76em) {
    .margin-top-huge {
      margin-top: 3.2rem; } }

.margin-top-big {
  margin-top: 8rem; }

.margin-top-medium {
  margin-top: 6.4rem; }

.margin-top-small {
  margin-top: 4.8rem; }

.margin-bottom-huge {
  margin-bottom: 9.6rem; }
  @media only screen and (max-width: 75em) {
    .margin-bottom-huge {
      margin-bottom: 4.8rem; } }
  @media only screen and (max-width: 34.25em) {
    .margin-bottom-huge {
      margin-bottom: 2.4rem; } }

.margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .margin-bottom-big {
      margin-bottom: 4.8rem; } }
  @media only screen and (max-width: 43.76em) {
    .margin-bottom-big {
      margin-bottom: 1.6rem; } }
  @media only screen and (max-width: 34.25em) {
    .margin-bottom-big {
      margin-bottom: 1.2rem; } }

.margin-bottom-medium {
  margin-bottom: 6.4rem; }
  @media only screen and (max-width: 56.25em) {
    .margin-bottom-medium {
      margin-bottom: 4.8rem; } }

.margin-bottom-small {
  margin-bottom: 4.8rem; }
  @media only screen and (max-width: 34.25em) {
    .margin-bottom-small {
      margin-bottom: 2.4rem; } }

.margin-bottom-tiny {
  margin-bottom: 1.2rem; }

.margin-right-small {
  margin-right: 4.8rem; }
  @media only screen and (max-width: 56.25em) {
    .margin-right-small {
      margin-right: 2rem; } }

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 100%; }

.heading-primary {
  font-size: 7.4rem;
  font-weight: 700;
  line-height: 1; }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      font-size: 5.2rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 4.4rem; } }
  @media only screen and (max-width: 34.25em) {
    .heading-primary {
      font-size: 3.6rem; } }

.heading-two {
  font-size: 4.4rem;
  font-weight: 700; }
  @media only screen and (max-width: 75em) {
    .heading-two {
      font-size: 3.6rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-two {
      font-size: 3rem; } }
  @media only screen and (max-width: 43.76em) {
    .heading-two {
      font-size: 2.4rem; } }
  @media only screen and (max-width: 34.25em) {
    .heading-two {
      font-size: 2rem; } }

.heading-three {
  font-size: 1.6rem;
  letter-spacing: 0.7px;
  color: #fd7e14;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 43.76em) {
    .heading-three {
      font-size: 1.2rem; } }

.heading-four {
  color: inherit;
  font-weight: 700;
  font-size: 2.4rem; }

.heading-five {
  color: inherit;
  font-size: 1.8rem; }

.highlight {
  color: #ea580c; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* it will force the inheritance of box-sizing of their parent */ }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 34.25em) {
    html {
      font-size: 37%; } }
  @media only screen and (max-width: 43.76em) {
    html {
      font-size: 44%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: "Aleo", serif;
  line-height: 1;
  color: #555;
  background-color: #fff;
  font-weight: 400; }

::selection {
  background-color: #fd7e14;
  color: #fff; }

.btnMain {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-size: 1.7rem;
  letter-spacing: 1.1px;
  font-weight: 700;
  padding: 1.6rem 2rem;
  cursor: pointer;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .btnMain {
      font-size: 1.6rem;
      padding: 1rem 1.6rem; } }
  @media only screen and (max-width: 43.76em) {
    .btnMain {
      font-size: 1.2rem;
      padding: 1rem 1.5rem; } }
  .btnMain__green {
    background-color: #0be881;
    color: #333; }
    .btnMain__green:hover, .btnMain__green:active {
      background-color: #05c46b; }
  .btnMain__orange {
    background-color: #fd7e14;
    color: #eee; }
    .btnMain__orange:hover, .btnMain__orange:active {
      background-color: #ea580c; }

.btnSecond,
.btnTab,
.btnSubmit {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 700;
  border: 1px solid #fd7e14;
  background-color: transparent;
  color: #fd7e14;
  padding: 1rem 1.8rem;
  cursor: pointer;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .btnSecond,
    .btnTab,
    .btnSubmit {
      font-size: 1.5rem;
      padding: 0.8rem 1.4rem; } }
  @media only screen and (max-width: 43.76em) {
    .btnSecond,
    .btnTab,
    .btnSubmit {
      font-size: 1.3rem;
      padding: 0.7rem 1.3rem; } }
  .btnSecond:hover, .btnSecond:active,
  .btnTab:hover,
  .btnTab:active,
  .btnSubmit:hover,
  .btnSubmit:active {
    background-color: #fd7e14;
    color: #fff; }

.social__icon {
  height: 3.5rem;
  width: 3.5rem;
  vertical-align: middle;
  fill: #555;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .social__icon {
      height: 2.5rem;
      width: 2.5rem; } }
  .social__icon--email {
    margin-right: 0.5rem; }
    .social__icon--email:hover, .social__icon--email:active {
      fill: #fd7e14; }
  .social__icon--whatsapp {
    margin-right: 0.5rem; }
    .social__icon--whatsapp:hover, .social__icon--whatsapp:active {
      fill: #25d366; }
  .social__icon--linkedin:hover, .social__icon--linkedin:active {
    fill: #0077b5; }

.zPatternIcon {
  cursor: pointer;
  height: 5rem;
  color: #777;
  grid-row: 3 / 4; }

.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem; }
  @media only screen and (max-width: 43.76em) {
    .presentation {
      flex-direction: column;
      gap: 3rem; } }
  .presentation__text {
    flex: 100%;
    font-size: 1.7rem;
    line-height: 1.5; }
    @media only screen and (max-width: 56.25em) {
      .presentation__text {
        padding: 0 2rem;
        font-size: 1.6rem; } }
  .presentation__video img {
    height: auto;
    width: 50rem; }
    @media only screen and (max-width: 75em) {
      .presentation__video img {
        width: 45rem; } }
    @media only screen and (max-width: 56.25em) {
      .presentation__video img {
        width: 40rem; } }
    @media only screen and (max-width: 43.76em) {
      .presentation__video img {
        width: 30rem; } }
    @media only screen and (max-width: 34.25em) {
      .presentation__video img {
        width: 25rem; } }
  .presentation__video iframe {
    width: 55rem;
    height: 55rem; }
    @media only screen and (max-width: 56.25em) {
      .presentation__video iframe {
        width: 45rem;
        height: 45rem; } }
    @media only screen and (max-width: 43.76em) {
      .presentation__video iframe {
        width: 42rem;
        height: 42rem; } }
    @media only screen and (max-width: 34.25em) {
      .presentation__video iframe {
        width: 38rem;
        height: 38rem; } }

.showcase {
  margin-bottom: 5.4rem;
  display: flex; }
  @media only screen and (max-width: 43.76em) {
    .showcase {
      flex-direction: column;
      margin-bottom: 6.4rem; } }

.showProduct {
  flex: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 43.76em) {
    .showProduct {
      margin-bottom: 2.4rem; } }
  .showProduct span {
    font-size: 4rem;
    color: #fd7e14;
    font-weight: 700;
    letter-spacing: 1px; }
    @media only screen and (max-width: 43.76em) {
      .showProduct span {
        font-size: 2rem; } }
    @media only screen and (max-width: 34.25em) {
      .showProduct span {
        font-size: 1.8rem; } }
  .showProduct__tag {
    font-size: 3rem;
    color: #999;
    align-self: self-start;
    display: block;
    font-weight: 700; }
    @media only screen and (max-width: 56.25em) {
      .showProduct__tag {
        z-index: 10; } }
    @media only screen and (max-width: 43.76em) {
      .showProduct__tag {
        font-size: 1.6rem;
        margin-bottom: -1rem; } }
    @media only screen and (max-width: 34.25em) {
      .showProduct__tag {
        font-size: 1.4rem; } }
  .showProduct__img {
    width: 65%;
    height: auto;
    display: block; }
    @media only screen and (max-width: 43.76em) {
      .showProduct__img {
        width: 50%; } }
    @media only screen and (max-width: 56.25em) {
      .showProduct__img--1 {
        margin-top: -2rem; } }
    .showProduct__img--2 {
      margin-bottom: 1rem; }
  .showProduct__text {
    display: block;
    align-self: end;
    font-size: 1.7rem;
    letter-spacing: 0.7px;
    text-align: center;
    line-height: 1.5; }
    @media only screen and (max-width: 56.25em) {
      .showProduct__text {
        font-size: 1.4rem; } }

.slider {
  max-width: 100rem;
  height: 47rem;
  margin: 0 auto;
  margin-bottom: 5.4rem;
  margin-top: 6.4rem;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .slider {
      margin-bottom: 4.8rem; } }
  @media only screen and (max-width: 43.76em) {
    .slider {
      height: 40rem;
      margin-bottom: -1.6rem;
      margin-top: 0rem; } }
  @media only screen and (max-width: 34.25em) {
    .slider {
      height: 37rem; } }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35rem;
  transition: transform 1.2s;
  display: flex;
  justify-content: center; }

.slideBox {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .slideBox img {
    margin: 0 auto;
    width: 70%;
    height: auto;
    margin-bottom: 1rem; }
  .slideBox span {
    font-size: 1.7rem;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .slideBox span {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 43.76em) {
      .slideBox span {
        font-size: 1.4rem; } }

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #fd7e14;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer; }
  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%); }
  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%); }

.tab {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 8rem;
  background-color: #f8f9fa; }
  @media only screen and (max-width: 75em) {
    .tab {
      margin-top: 7rem; } }
  @media only screen and (max-width: 43.76em) {
    .tab {
      margin-top: 6rem; } }
  .tab__button-container {
    display: flex;
    justify-content: center; }
  .tab__content {
    display: none;
    padding: 2.5rem 6rem 6.5rem 6rem; }
    @media only screen and (max-width: 43.76em) {
      .tab__content {
        padding: 2.5rem 4rem 4.5rem 4rem; } }
    .tab__content p {
      font-size: 1.7rem;
      line-height: 1.5; }
      @media only screen and (max-width: 43.76em) {
        .tab__content p {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 34.25em) {
        .tab__content p {
          font-size: 1.4rem; } }
    .tab__content--active {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 2rem; }
    @media only screen and (max-width: 43.76em) {
      .tab__content--1 {
        flex-direction: column-reverse; } }
    .tab__content--1 p {
      flex: 100%; }
    .tab__content--1 img {
      width: 40%; }
    @media only screen and (max-width: 43.76em) {
      .tab__content--2 {
        flex-direction: column-reverse; } }
    .tab__content--2 button {
      flex: 15%; }
    .tab__content--2 p {
      flex: 100%; }
      .tab__content--2 p a {
        text-decoration: none;
        color: #fd7e14;
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid #fd7e14;
        transition: all 0.3s; }
        .tab__content--2 p a:hover {
          color: #ea580c;
          border-bottom: 1px solid transparent; }
    .tab__content--2 img {
      width: 40%; }
    @media only screen and (max-width: 34.25em) {
      .tab__content--3 p {
        font-size: 1.2rem; } }

.btn__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
  transition: all 0.3s; }
  .btn__tab:focus {
    background-color: #fd7e14;
    color: #fff; }
  .btn__tab--active {
    transform: translateY(-66%); }

.partners {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .partners img {
    width: auto;
    height: 10rem; }
    @media only screen and (max-width: 34.25em) {
      .partners img {
        height: 4rem; } }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.6rem;
  letter-spacing: 0.7px;
  margin-bottom: 4.8rem; }
  @media only screen and (max-width: 56.25em) {
    table {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 43.76em) {
    table {
      margin-bottom: 2rem; } }

th,
td {
  padding: 1rem 2rem;
  text-align: left;
  line-height: 1.5; }

th {
  background-color: #b2f2bb;
  color: #000; }

tbody tr:nth-child(odd) {
  background-color: #f8f9fa; }

tbody tr:nth-child(even) {
  background-color: #e9ecef; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.capture {
  opacity: 0.3;
  transform: scale(0.7); }

.displayNone {
  display: none; }

.spinner {
  margin: 5rem auto;
  text-align: center; }
  .spinner svg {
    height: 6rem;
    width: 6rem;
    fill: #fd7e14;
    animation: rotate 2s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.blanket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }

.footer {
  width: 100%;
  height: 10rem;
  padding: 0 1rem;
  background-color: #333;
  color: #fd7e14;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer__company, .footer__social {
    flex: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    letter-spacing: 0.5px; }
    @media only screen and (max-width: 43.76em) {
      .footer__company, .footer__social {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 34.25em) {
      .footer__company, .footer__social {
        font-size: 1.4rem;
        align-items: baseline; } }
  .footer__social a {
    text-decoration: none; }
    .footer__social a svg {
      height: 3rem;
      width: 3rem; }
      @media only screen and (max-width: 34.25em) {
        .footer__social a svg {
          height: 2.8rem;
          width: 2.8rem; } }
  .footer__social span {
    font-size: inherit; }

header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8rem; }
  @media only screen and (max-width: 43.76em) {
    .nav-links {
      gap: 2.4rem; } }
  @media only screen and (max-width: 34.25em) {
    .nav-links {
      gap: 1.6rem; } }

.nav-item {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
  color: #555;
  letter-spacing: 0.7px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s; }
  @media only screen and (max-width: 43.76em) {
    .nav-item {
      font-size: 1.4rem; } }
  .nav-item:hover, .nav-item:active {
    border-bottom: 2px solid #fd7e14; }

.hero-text {
  flex: 100%; }
  .hero-text a {
    display: inline-block;
    text-decoration: none; }

.hero-image {
  flex: 100%;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .hero-image {
      display: none; } }
  .hero-image img {
    display: inline-block;
    width: 80%; }
    @media only screen and (max-width: 75em) {
      .hero-image img {
        width: 70%; } }

.blanket,
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  background-color: #f8f9fa;
  padding: 4rem 5rem;
  z-index: 1000;
  transition: all 0.5s; }
  @media only screen and (max-width: 56.25em) {
    .blanket,
    .modal {
      width: 80rem; } }
  @media only screen and (max-width: 43.76em) {
    .blanket,
    .modal {
      width: 70rem;
      padding: 3rem; } }
  @media only screen and (max-width: 34.25em) {
    .blanket,
    .modal {
      width: 38rem; } }
  .blanket span,
  .modal span {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.6rem; }
    @media only screen and (max-width: 34.25em) {
      .blanket span,
      .modal span {
        font-size: 1.4rem; } }
  .blanket__container,
  .modal__container {
    margin-top: 3.2rem;
    display: flex;
    justify-content: center;
    gap: 1rem; }
    @media only screen and (max-width: 34.25em) {
      .blanket__container,
      .modal__container {
        flex-direction: column-reverse; } }
  .blanket__download,
  .modal__download {
    flex: 60%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media only screen and (max-width: 34.25em) {
      .blanket__download,
      .modal__download {
        align-items: center; } }
    .blanket__download span,
    .modal__download span {
      margin-bottom: 0.5rem;
      font-size: 2rem; }
    .blanket__download a,
    .modal__download a {
      color: #555;
      text-decoration: none;
      display: inline-block;
      font-size: 1.6rem;
      transition: all 0.1s; }
      .blanket__download a:hover,
      .modal__download a:hover {
        color: #fd7e14; }
  .blanket__form,
  .modal__form {
    font-family: "Aleo", serif;
    font-size: 1.7rem;
    flex: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2rem; }
    @media only screen and (max-width: 34.25em) {
      .blanket__form,
      .modal__form {
        font-size: 1.6rem;
        gap: 1rem; } }
    .blanket__form label,
    .blanket__form input,
    .blanket__form textarea,
    .modal__form label,
    .modal__form input,
    .modal__form textarea {
      font-size: 1.7rem;
      font-family: inherit; }
      @media only screen and (max-width: 34.25em) {
        .blanket__form label,
        .blanket__form input,
        .blanket__form textarea,
        .modal__form label,
        .modal__form input,
        .modal__form textarea {
          font-size: 1.6rem; } }
    .blanket__form input,
    .modal__form input {
      padding: 1rem 1.5rem;
      border: 1px solid #ddd;
      border: none;
      border-bottom: 2px solid transparent;
      color: #555; }
      .blanket__form input:focus,
      .modal__form input:focus {
        outline: none;
        border-bottom: 2px solid #0be881; }
      .blanket__form input:focus:invalid,
      .modal__form input:focus:invalid {
        border-bottom: 2px solid red; }
    .blanket__form select,
    .modal__form select {
      padding: 1rem 1.5rem;
      border: 1px solid #ddd;
      font-family: inherit;
      font-size: inherit; }
      .blanket__form select option,
      .modal__form select option {
        font-family: inherit;
        font-size: 1.6rem;
        color: #555; }
    .blanket__form textarea,
    .modal__form textarea {
      height: 6rem;
      border: 1px solid #ddd;
      font-size: 1.6rem;
      border: none; }

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background-color: transparent; }

.gradeContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6.4rem; }
  .gradeContainer__image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    transition: all 0.3s; }
    .gradeContainer__image:hover {
      transform: scale(1.1); }
    .gradeContainer__image img {
      width: 80%; }
    .gradeContainer__image span {
      font-size: 2.4rem;
      font-weight: 700; }

.formContainer {
  margin: 0 auto;
  padding: 4rem;
  background-color: #eee;
  display: none;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
  .formContainer h4,
  .formContainer button {
    align-self: center;
    justify-self: baseline; }
  .formContainer button {
    justify-self: center; }
  .formContainer__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Aleo", serif;
    font-size: 1.7rem;
    gap: 0.5rem; }
    .formContainer__group p,
    .formContainer__group label,
    .formContainer__group input {
      font-size: 1.7rem;
      font-family: inherit; }
    .formContainer__group span {
      font-size: 2.4rem; }
    .formContainer__group input {
      padding: 1rem 1.5rem;
      border: 1px solid #ddd;
      border: none;
      border-bottom: 2px solid transparent;
      color: #555; }
      .formContainer__group input:focus {
        outline: none;
        border-bottom: 2px solid #0be881; }
      .formContainer__group input:focus:invalid {
        border-bottom: 2px solid red; }
    .formContainer__group select {
      padding: 1rem 1.5rem;
      border: 1px solid #ddd;
      font-family: inherit;
      font-size: inherit; }
      .formContainer__group select option {
        font-family: inherit;
        font-size: 1.6rem;
        color: #555; }

.quoteSummary {
  padding: 2rem;
  font-size: 1.6rem;
  line-height: 1.5; }
  @media only screen and (max-width: 34.25em) {
    .quoteSummary {
      padding: 0rem;
      font-size: 1.4rem;
      line-height: 1.7; } }
  .quoteSummary__content {
    display: flex; }
    @media only screen and (max-width: 34.25em) {
      .quoteSummary__content {
        flex-direction: column; } }

.quoteLeft {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem; }
  @media only screen and (max-width: 43.76em) {
    .quoteLeft {
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 34.25em) {
    .quoteLeft {
      padding: 0rem; } }
  .quoteLeft__list ul {
    list-style: none;
    margin-left: 1rem; }
    .quoteLeft__list ul a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      padding-bottom: 2px;
      transition: all 0.3s; }
      .quoteLeft__list ul a:hover {
        color: #ea580c; }
  .quoteLeft__list--1 {
    grid-column: 1 / 4; }
  .quoteLeft__list--2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3; }
  .quoteLeft__list--3 {
    grid-column: 3 / 4; }
  .quoteLeft__list--4 {
    grid-column: 1 / 4;
    grid-row: 3 / 4; }
  .quoteLeft__list--5 {
    grid-column: 1 / 4;
    grid-row: 4 / 5; }
  .quoteLeft__list--2 h5, .quoteLeft__list--3 h5, .quoteLeft__list--4 h5, .quoteLeft__list--5 h5 {
    margin-top: 1rem; }

.quoteCTA {
  grid-column: 1 / 4;
  margin-top: 2rem; }
  .quoteCTA p {
    margin-bottom: 2rem; }
    .quoteCTA p a:link,
    .quoteCTA p a:visited {
      text-decoration: none;
      color: #fd7e14; }
    .quoteCTA p a:hover,
    .quoteCTA p a:active {
      color: #555;
      background-position: 100%; }
  .quoteCTA__box {
    display: flex;
    gap: 0.3rem; }
    .quoteCTA__box img {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      margin-right: 1rem; }
      @media only screen and (max-width: 43.76em) {
        .quoteCTA__box img {
          margin-bottom: 0.5rem; } }
    .quoteCTA__box--text {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-right: 1rem; }
    .quoteCTA__box--icon {
      align-self: center; }
      .quoteCTA__box--icon a svg {
        height: 2.8rem;
        width: 2.8rem;
        margin-right: 0rem; }

.quoteRight {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .quoteRight img {
    display: block;
    height: 20rem;
    width: auto;
    align-self: center; }
    @media only screen and (max-width: 43.76em) {
      .quoteRight img {
        height: 15rem; } }
  .quoteRight--button, .quoteRight--text {
    align-self: center; }
    .quoteRight--button p, .quoteRight--text p {
      margin-bottom: 1rem; }
    .quoteRight--button button, .quoteRight--text button {
      align-self: center; }

.quotePriceList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem; }
  .quotePriceList__fob {
    display: flex;
    flex-direction: column;
    gap: 0.3rem; }
  .quotePriceList__fob--numbers, .quotePriceList__cfr--numbers, .quotePriceList__cif--numbers {
    font-weight: 700;
    letter-spacing: 0.5px; }
    .quotePriceList__fob--numbers em, .quotePriceList__cfr--numbers em, .quotePriceList__cif--numbers em {
      font-weight: 700; }
  .quotePriceList__fob p, .quotePriceList__cfr p, .quotePriceList__cif p {
    font-weight: 100;
    margin-left: 1rem; }

.section-hero {
  padding: 0 5rem;
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .section-hero {
      flex-direction: column;
      text-align: center;
      margin-top: 4.8rem; } }
  @media only screen and (max-width: 43.76em) {
    .section-hero {
      padding: 0 1rem;
      margin-top: 2.4rem; } }
  @media only screen and (max-width: 34.25em) {
    .section-hero {
      padding: 0 1rem;
      margin-top: 1.6rem; } }

.section-product,
.section-activity,
.section-about,
.section-cta,
.section-quote {
  margin-bottom: 8rem;
  padding: 0 6rem; }
  @media only screen and (max-width: 75em) {
    .section-product,
    .section-activity,
    .section-about,
    .section-cta,
    .section-quote {
      margin-bottom: 6.4rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-product,
    .section-activity,
    .section-about,
    .section-cta,
    .section-quote {
      padding: 0 4rem; } }
  @media only screen and (max-width: 34.25em) {
    .section-product,
    .section-activity,
    .section-about,
    .section-cta,
    .section-quote {
      padding: 0 2rem; } }

.section-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem; }

.section-spinner {
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .section-spinner {
      padding: 0 4rem; } }
  @media only screen and (max-width: 34.25em) {
    .section-spinner {
      padding: 0 1rem; } }
